@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(45deg, #eeeeee, #faf8f9, #ffffff);
  font-family: "Poppins", sans-serif;

  margin: 0px;
  padding: 0px;

  height: 100vh;
  width: 100vw;
}


/* ----------- Properties Bars */

.barBox-div{
  display: inline-block;
  width: 300px;
  background-color: red;
}

.bar-div{
  display: inline-block;
  min-width: 85%;
  min-height: 7px;
  margin-right: 3%;
}

.property-perc{
  display: inline-block;
}